In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv(r"/content/drive/MyDrive/generativeai/train.csv")

In [4]:
pd.DataFrame(df)

,labels,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,...,f_1190,f_1191,f_1192,f_1193,f_1194,f_1195,f_1196,f_1197,f_1198,f_1199
0,0,-2.033875,0.978446,-0.142131,-0.177117,-1.470684,1.669562,-0.196530,-0.125239,-0.452284,...,-1.111266,0.716084,0.060039,0.301279,-1.174846,-1.076498,-0.069452,-0.604012,-2.179176,0.558003
1,1,-0.348835,0.294815,-0.557577,-2.020773,-1.234715,1.633930,-1.680658,-0.358146,0.166122,...,0.735240,0.829781,1.521941,1.347946,0.754505,1.330642,-0.754453,0.582956,0.252671,1.495870
2,1,0.113248,-0.607726,-0.947791,0.830851,0.998291,0.498321,-1.493958,0.789572,-1.311018,...,0.104698,0.616189,-1.035953,2.111387,-0.984415,1.148076,-1.433554,0.243372,0.170083,1.274795
3,0,1.223321,-0.479048,-1.925789,1.680377,0.021840,-1.453307,0.605559,-0.019024,1.065448,...,0.360237,-1.957863,-0.123384,1.505329,0.660290,-1.769443,-0.547756,-0.568122,0.244645,0.982116
4,0,0.160109,0.422684,-0.308029,0.227744,0.432854,0.608348,0.193832,1.035091,-0.538868,...,0.416629,1.441766,0.212572,-0.994721,1.143999,-2.166923,-1.199248,-1.028636,0.752791,0.317169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5245,0,1.157565,-0.142219,1.043992,1.144946,1.195423,0.248978,-1.505100,-0.874137,-1.782724,...,1.195423,-0.255793,-0.154838,0.413029,-0.482939,-1.277953,-0.445082,1.195423,-0.924614,-0.432462
5246,0,1.424709,0.235910,1.356778,1.368099,-0.318862,1.039765,-0.986854,-0.330184,-1.383120,...,1.424709,-1.066107,0.881258,-0.488691,-1.281223,-1.213291,0.122692,1.175627,-1.145360,0.451026
5247,1,-0.375687,1.524455,0.012514,-0.007917,0.073809,-0.906909,-1.254247,1.606182,0.298557,...,-0.028349,-0.968204,-1.233815,1.626613,-0.191802,1.115823,0.380284,-0.293960,0.135104,1.381434
5248,1,-0.478238,1.666142,0.049609,-0.428752,-0.362771,1.798104,-0.214314,0.775400,-0.379267,...,-0.428752,-1.121552,-0.379267,-0.593705,0.049609,1.765114,0.313533,-0.329781,-1.220524,0.033114
5249,1,-0.750874,0.267008,-0.155041,-0.179867,-0.155041,-0.303999,-0.279173,1.731765,0.564925,...,-0.303999,-0.850180,0.937321,-1.594972,1.036626,1.582807,1.036626,-0.254346,0.664230,1.831071

In [99]:
print(df['labels'].value_counts())

0    3850
1    1400
Name: labels, dtype: int64

In [100]:
X = df.drop(['labels'], axis=1)
y = df['labels']

In [101]:
from sklearn.model_selection import train_test_split

In [102]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [103]:
print("Training data shape:", X_train.shape, y_train.shape)
print("Validation data shape:", X_val.shape, y_val.shape)

Training data shape: (4200, 1200) (4200,)
Validation data shape: (1050, 1200) (1050,)

In [104]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
X_train = imputer.fit_transform(X_train)
X_val = imputer.transform(X_val)

In [105]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [106]:
num_features = X_train.shape[1]
num_classes = len(df['labels'].unique())

In [107]:
model = Sequential()
model.add(Dense(256, activation='relu', input_shape=(num_features,)))
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(num_classes, activation='sigmoid'))

In [108]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [109]:
model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_41 (Dense)            (None, 256)               307456

 dense_42 (Dense)            (None, 128)               32896

 dense_43 (Dense)            (None, 64)                8256

 dropout_8 (Dropout)         (None, 64)                0

 dense_44 (Dense)            (None, 2)                 130

=================================================================
Total params: 348,738
Trainable params: 348,738
Non-trainable params: 0
_________________________________________________________________

In [110]:
from tensorflow.keras.utils import to_categorical
y_train = to_categorical(y_train, num_classes)
y_val = to_categorical(y_val, num_classes)

In [111]:
model.add(Dense(num_classes, activation='sigmoid'))

In [114]:
history = model.fit(X_train, y_train, epochs=15, batch_size=32, validation_data=(X_val, y_val))

Epoch 1/15
132/132 [==============================] - 1s 5ms/step - loss: 0.0352 - accuracy: 0.9943 - val_loss: 0.7364 - val_accuracy: 0.8467
Epoch 2/15
132/132 [==============================] - 1s 5ms/step - loss: 0.0352 - accuracy: 0.9943 - val_loss: 0.7375 - val_accuracy: 0.8467
Epoch 3/15
132/132 [==============================] - 1s 4ms/step - loss: 0.0352 - accuracy: 0.9943 - val_loss: 0.7376 - val_accuracy: 0.8457
Epoch 4/15
132/132 [==============================] - 1s 4ms/step - loss: 0.0352 - accuracy: 0.9943 - val_loss: 0.7381 - val_accuracy: 0.8467
Epoch 5/15
132/132 [==============================] - 1s 4ms/step - loss: 0.0352 - accuracy: 0.9943 - val_loss: 0.7399 - val_accuracy: 0.8457
Epoch 6/15
132/132 [==============================] - 1s 4ms/step - loss: 0.0352 - accuracy: 0.9943 - val_loss: 0.7401 - val_accuracy: 0.8457
Epoch 7/15
132/132 [==============================] - 1s 4ms/step - loss: 0.0352 - accuracy: 0.9943 - val_loss: 0.7411 - val_accuracy: 0.8457
Epoch 8/15
132/132 [==============================] - 1s 4ms/step - loss: 0.0352 - accuracy: 0.9943 - val_loss: 0.7411 - val_accuracy: 0.8457
Epoch 9/15
132/132 [==============================] - 1s 4ms/step - loss: 0.0352 - accuracy: 0.9943 - val_loss: 0.7431 - val_accuracy: 0.8457
Epoch 10/15
132/132 [==============================] - 1s 4ms/step - loss: 0.0352 - accuracy: 0.9943 - val_loss: 0.7418 - val_accuracy: 0.8457
Epoch 11/15
132/132 [==============================] - 1s 7ms/step - loss: 0.0352 - accuracy: 0.9943 - val_loss: 0.7413 - val_accuracy: 0.8448
Epoch 12/15
132/132 [==============================] - 1s 6ms/step - loss: 0.0501 - accuracy: 0.9905 - val_loss: 0.6372 - val_accuracy: 0.8552
Epoch 13/15
132/132 [==============================] - 1s 6ms/step - loss: 0.2980 - accuracy: 0.8636 - val_loss: 0.4772 - val_accuracy: 0.8514
Epoch 14/15
132/132 [==============================] - 1s 5ms/step - loss: 0.2969 - accuracy: 0.8574 - val_loss: 0.4890 - val_accuracy: 0.7990
Epoch 15/15
132/132 [==============================] - 1s 4ms/step - loss: 0.2522 - accuracy: 0.8919 - val_loss: 0.4909 - val_accuracy: 0.7638

In [37]:
loss, accuracy = model.evaluate(X_val, y_val, verbose=0)
print('Validation loss:', loss)
print('Validation accuracy:', accuracy)

Validation loss: 0.39734676480293274
Validation accuracy: 0.8600000143051147

In [38]:
test_df = pd.read_csv("/content/drive/MyDrive/generativeai/test.csv")

In [39]:
test_X = test_df.drop('id', axis=1)
test_X = imputer.transform(test_X)
test_X = pd.DataFrame(test_X, columns=test_df.columns[1:])
predictions = model.predict(test_X[:2250])

71/71 [==============================] - 0s 1ms/step

In [40]:
predicted_labels = np.argmax(predictions, axis=1)

In [41]:
predicted_labels

array([1, 0, 0, ..., 1, 0, 1])

In [43]:
output_df = pd.DataFrame({'id': test_df['id'], 'labels': predicted_labels})

In [44]:
output_df.to_csv('solution8.csv', index=False)